<!doctype html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">

        <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
        <link href="javascripts/client_modules/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css">
        <link href="javascripts/client_modules/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css">
        <link href="javascripts/client_modules/jtable.2.4.0/themes/metro/blue/jtable.less" rel="stylesheet" type="text/css">
        <link href="javascripts/client_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="stylesheets/menu.less" rel="stylesheet/less" type="text/css"/>
        <link href="stylesheets/prop-dialog.less" rel="stylesheet/less" type="text/css"/>
        <link href="stylesheets/main.less" rel="stylesheet/less" type="text/css"/>
        <link href="stylesheets/app.less" rel="stylesheet/less" type="text/css"/>

        <script type="text/javascript" src="javascripts/client_modules/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/client_modules/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="javascripts/client_modules/jtable.2.4.0/jquery.jtable.min.js"></script>
        <!--<script type="text/javascript" src="javascripts/client_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <script type="text/javascript" src="javascripts/client_modules/raphael.js"></script>
        <script type="text/javascript" src="javascripts/raphael-extends.js"></script>
        <script type="text/javascript" src="javascripts/client_modules/less.js"></script>
    </head>
    <body>
       <div id="app-container"></div>
       <script charset="utf-8" src="/javascripts/editor.js"></script>
     </body>
</html>

