<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>BTIMaker</title>
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="frontPage/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="frontPage/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="frontPage/css/my.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div id="app-container"></div>
<!--  Scripts-->
<script src="frontPage/js/jquery.min.js"></script>
<!--<script src="frontPage/js/materialize.js"></script>-->
<!--<script src="frontPage/js/init.js"></script>-->
<script charset="utf-8" src="/javascripts/index.js"></script>
</body>
</html>


